# Banco de dados PostgreSQL
# Formato: postgresql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO
DATABASE_URL=""

# JWT - coloque strings longas e aleatórias aqui
JWT_SECRET="coloque-uma-chave-secreta-longa-aqui-123456"
JWT_REFRESH_SECRET="coloque-outra-chave-diferente-aqui-789012"
JWT_EXPIRES_IN="15m"

# OpenWeatherMap
OPENWEATHER_API_KEY="sua_chave_aqui"
OPENWEATHER_BASE_URL=""

# Servidor
PORT=3333
